$primary-color: #d22d27;
$secondary-color: #f9fbfd;
$secondary-darker-color: #afafaf;
$foreground-color: white;

body,
html {
    height: 100%;
    display: grid;
}

nav {
    padding: 8px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: $primary-color;
}

.content {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 48px;
    border: 2px solid $primary-color;
    text-align: center;
    max-width: 720px;
    margin: auto;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result {
    width: 80%;
    height: auto;
    font-size: 2rem;
    padding: 8px;
}

.setting {
    padding: 5px;
    text-align: left;
    &.checkbox {
        display: flex;
        align-items: center;
        label {
            margin-left: 4px;
        }
    }
}

#length {
    text-align: center;
}

input[type="number"] {
    width: 56px;
    height: 24px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

button {
    background-size: 2rem;
    width: 55px;
    height: 55px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    &.copy-button {
        background-image: url(./image/copy.svg);
    }
    &.new-button {
        background-image: url(./image/new.svg);
    }
}

#copied {
    opacity: 0;
    transition: opacity 0.1s;
    &.show {
        opacity: 1;
        transition: opacity 0.1s;
    }
}
